.feedbackcont {
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.form1 {
    width: 500px;
}

@media (max-width: 768px) {
    .formdiv {
        display: flex;
        flex-direction: column;
    }
    .form1 {
        width: auto;
}
}